<mat-card>
    <mat-toolbar color="accent">
        <mat-icon aria-hidden="false" aria-label="Transactions">work_outline</mat-icon>
        Recent Transactions
    </mat-toolbar>
    <mat-card-subtitle>
        <mat-form-field color="warn">
            <mat-label>Search by typing...</mat-label>
            <input matInput (keyup)="applyFilter($event)" [(ngModel)]="value">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        Sort by
        <button mat-button mat-raised-button color="primary" (click)="sortByDate()">DATE</button>
        <button mat-button mat-raised-button color="primary"(click)="sortByBeneficiary()">BENEFICIARY</button>
        <button mat-button mat-raised-button color="primary"(click)="sortByAmount()">AMOUNT</button>
    </mat-card-subtitle>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="categoryCode">
                <th mat-header-cell *matHeaderCellDef class="categoryCode c"></th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.categoryCode}"> </td>
            </ng-container>

            <ng-container matColumnDef="transactionDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '30%'}">
                    {{getDate(element.transactionDate)}} </td>
            </ng-container>

            <ng-container matColumnDef="merchant">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BENEFICIARY </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '60%'}">
                    <mat-grid-list cols="2" rowHeight="5:1">
                        <mat-grid-tile [colspan]="1" [rowspan]="2"><img src='{{element.merchantLogo}}' width="50" height="50"></mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1"><b>{{element.merchant}}</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">{{element.transactionType}}</mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '10%'}"><b>-${{element.amount}}</b></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </mat-card-content>
</mat-card>